:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

body {
    background-color: #E5E5E5;
    font-family: Poppins, serif;
}

header {
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
    border: 2px solid #BB99DD;
    border-radius: 50%;
    margin-top: 100px;
}

p, a {
    text-decoration: none;
}

ul {
    text-align: center;
    margin-top: 20px;
}

.list {
    border: 2px solid #BB99DD;
    border-radius: 4px;
    padding: 5px;
    width: 25%;
    margin: 15px auto;
    list-style: none;
}

footer {
    text-align: center;
    margin-top: 50px;
}

.link {
    margin: 20px;
}

@media (max-width: 700px) {
    .list {
        width: 75%;
    }

    .link {
        margin: 10px;
    }
}